.background {
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.background .shape {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}

.shape:first-child {
  background: linear-gradient(#1845ad, #23a2f6);
  left: -80px;
  top: -80px;
}
.shape:last-child {
  background: linear-gradient(to right, #ff512f, #f09819);
  right: -30px;
  bottom: -80px;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
  color: white;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.welcome {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: darkgreen;
}

mat-card {
  height: 500px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
  text-align: center;
  z-index: 9999;
}

form * {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

::placeholder {
  color: black;
}

.button-login {
  margin-top: 50px;
  width: 100%;
  color: black;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.button-login:disabled,
.button-login[disabled] {
  cursor: not-allowed;
  opacity: 0.6;
  pointer-events: none;
  color: #b2acac;
  background-color: #d8dadc;
}

.button-show-password {
  margin-top: 0px;
  margin-left: 0px;
  width: 100%;
  padding: 18px 0px;
  color: black;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
