<div class="container-fluid background">
  <app-delivery-orders></app-delivery-orders>
  <br />
  <hr class="rounded" />

  <!--  <div class="row d-flex justify-content-center">-->
  <!--    <div-->
  <!--      class="col d-flex justify-content-center"-->
  <!--      *ngIf="authenticationImplService.isManagerAllowed()"-->
  <!--    >-->
  <!--      <mat-card class="mat-elevation-z4 mt-4 card administracion">-->
  <!--        <a (click)="goToAdmin()">-->
  <!--          <mat-card-content>-->
  <!--            <div class="row justify-content-center">-->
  <!--              <div class="col-9">Administrar Sistema</div>-->
  <!--              <div class="col-3"><mat-icon>settings</mat-icon></div>-->
  <!--            </div>-->
  <!--          </mat-card-content>-->
  <!--        </a>-->
  <!--      </mat-card>-->
  <!--    </div>-->
  <!--  </div>-->
  <app-administration></app-administration>
</div>
